

<!--<div class="container">
    <div class="row">

        <div class="col-xl-8 col-lg-8 col-md-8 col-8" *ngIf="siguiendoA">
            <h3>Mapa de moto <small *ngIf="siguiendoNombre">Siguiendo a: {{ siguiendoNombre}}-{{siguiendoA }}
                <button type="button" class="btn btn-primary btn-sm" (click)="dejar_seguir()">Dejar de seguir
                </button>
            </small>
            </h3>

        </div>

    </div>
    <br>-->
   <!--<div class="row">
            <div class="card" *ngFor="let item of items">
                <div class="card-body" >
                <a href="#" class="card-link" (click)="seguir(item)"  aria-current="true">
            {{item.nombre_moto}}<br>
            Codigo Domicilio: {{item.dm_codigo}} <br>
            Placa Moto: {{item.placa_moto}}<br>
            Telefono: {{item.telefono_moto}}<br>
            U.Actualizacoin: {{item.ultima_actualizacion}}
            </a>
            </div>
            </div>


    </div>
</div>-->

<div class="container" >
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://domicilioslcr.com/domicilios_ver2/img/nlogo.png" alt="" width="80" height="30">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Bienvenido a Domicilios Lcr</h6>

        </div>

      </div>
      <div *ngIf="siguiendoA">
        <button type="button" class="btn btn-primary btn-sm" (click)="dejar_seguir()">Dejar de seguir
        </button>
      </div>
</div>

    <div class="container-fluid" >
        <div class="row" *ngIf="!siguiendoA">



            <div class="col-xl-8 col-lg-8">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">Su Pedido Aun no ha Salido</strong>
                        </p>
                        <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="dejar_seguir()">Buscar
                        </button>
                    </div>

                </div>

                <!--<div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="media text-muted pt-3" >
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">

                                </p>
                        </div>
                        <div >
                            <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="dejar_seguir()">Buscar
                            </button>
                        </div>
                    <div class="card-body"></div>
                </div>  -->
            </div>


        </div>
        <div class="row" *ngIf="siguiendoA">
                <div class="col-xl-8 col-lg-8">
                    <div class="my-3 p-3 bg-white rounded box-shadow">
                        <div>
                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" style="text-shadow: 0px 0px 6.2px grey;">
                            <agm-marker  iconUrl="./assets/img/pin.png"  [latitude]="lat" [longitude]="lng"
                                >
                                    <agm-info-window *ngIf="siguiendoNombre">
                                        <h6>{{siguiendoNombre}}</h6>
                                    </agm-info-window>
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div>


                </div>

        <div class="col-xl-4 col-lg-4 mt-3">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Motorista jeu</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <div class="align-items-center" align="center">
                                    <img class="img-account-profile rounded-circle mb-2" width="80px" height="80" src="{{foto_moto}}" alt="">
                                </div>
                                <div class="d-flex flex-column fw-bold">
                                    <p class="card-text mb-1 ">Nombre: {{ siguiendoNombre }}</p>
                                    <p class="card-text mb-1 ">Telefono: {{ telefono_moto }}</p>
                                    <p class="card-text mb-1 ">Placa: {{ placa_moto }}</p>
                                    <p class="card-text mb-1 ">U.Actualizacion: {{ ultima_actualizacion }}</p>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Detalle Pedido </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>

                                <ul>
                                    <li *ngFor="let pro of productos_factura">
                                        {{pro.cantidad}} - {{pro.descripcion}}
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
        </div>


    </div>

