<!--<div class="container mt-3">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12"> 
            <input type="text" class="form-control mr-sm-2" 
            id="codigo" (keyup.enter)="buscarProducto( txtBuscar.value)"
             #txtBuscar placeholder="Ingrese su codigo de Tracking">     
             <button type="button" class="btn btn-primary btn-sm mt-2" (click)="buscarProducto( txtBuscar.value)">Buscar
            </button>
        </div>
        
    </div>
   
</div>-->


<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <img class="mr-3" src="https://domicilioslcr.com/domicilios_ver2/img/nlogo.png" alt="" width="80" height="30">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Bienvenido a Domicilios Lcr</h6>
      
    </div>                
  </div>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Trackea Tu Pedido LCR</h6>
    <div class="media text-muted pt-3">
      
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Ingrese su Codigo</strong>       
      </p>
    </div>
    <div>     
      <input type="text" class="form-control mr-sm-2" 
      id="codigo" (keyup.enter)="buscarProducto( txtBuscar.value)"
       #txtBuscar placeholder="Ingrese su codigo de Tracking">  
    </div>
    <div class="mt-1">
      <button type="button" class="btn btn-outline-success my-2 my-sm-0 " (click)="buscarProducto( txtBuscar.value)">Buscar
      </button>
    </div>
    
  </div>

  
</main>

<!-- Modal 
<div class="modal fade" id="exampleModal" name="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
  
<script>

$( document ).ready(function() {
    //$('#exampleModal').modal('toggle')
    $('#exampleModal').modal({show:true});
});
</script>-->
<!-- terminales de la barra estabilizador toyota corona 94 -->