<!--<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tracking Moto</a>
</nav>
<div class="row pad-10">
    <div class="col-8">
        <h3>Mapa de moto <small *ngIf="siguiendoNombre">Siguiendo a: {{ siguiendoNombre}} 
            <button type="button" class="btn btn-primary btn-sm" (click)="dejar_seguir()">Dejar de seguir
            </button>
        </small>
        </h3>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker iconUrl="./assets/img/pin.png" *ngFor="let item of items" [latitude]="lat" [longitude]="lng">
                <agm-info-window *ngIf="siguiendoNombre">
                    <h6>{{siguiendoNombre}}</h6>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
    <div class="row col-4 ">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action " (click)="seguir(item)" *ngFor="let item of items" aria-current="true">
          {{item.nombre_moto}} <br>
          Placa Moto:{{item.placa_moto}}<br>
          Telefono: {{item.telefono_moto}}<br>
          U.Actualizacoin: {{item.ultima_actualizacion}}
          </a>
        </div>
    </div>

</div>-->


<router-outlet></router-outlet>
